.photo-grid {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    margin: 0 auto;
    max-width: 1184px;
    padding-bottom: 92px;
}